.top-navbar {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  cursor: pointer;
  z-index: 9;

  &--logged-in {
    &__options {
      list-style: none;
      padding: 0.5rem 0;
      width: fit-content;
      border-radius: $border-radius;
      opacity: 1;
      transform: none;
      min-width: 4rem;
      transition: opacity 238ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 159ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      top: 2.1rem;
      left: 109.5rem;
      transform-origin: 0 2.1rem;
      box-shadow: 0 .5rem .5rem -.3rem rgba(0, 0, 0, 0.2), 0 .8rem 1rem 1px rgba(0, 0, 0, 0.14), 0px .3rem 1.4rem 2px rgba(0, 0, 0, 0.12);

      &__item {
        opacity: 0.8;
        padding: 0.4rem 1rem;
        transition: .2s all;
        &:hover {
          opacity: 1;
          background: $grey-one;
        }
      }
    }
  }
}




