
@font-face {
  font-family: VolvoBradPro;
  src: url('../../assets/fonts/VolvoBroadProDigital.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: VolvoBradProOutline;
  src: url('../../assets/fonts/VolvoBroadOutlineMedium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: VolvoNovum;
  src: url('../../assets/fonts/VolvoNovum-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: VolvoNovum;
  src: url('../../assets/fonts/VolvoNovum-Medium.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: VolvoNovum;
  src: url('../../assets/fonts/VolvoNovum-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: VolvoNovum;
  src: url('../../assets/fonts/VolvoNovum-Italic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}