// Colors
$dark-blue: #202A44;
$white: #FFFFFF;
$primary: #555BFF;
$green: #1FC11B;
$yellow: #FFD913;
$red: #FF5555;
$orange: #FF9C55;
$grey-four: #53565A;
$grey-two: #A7A8A9;
$grey-one: #E1DFDD;

// Fonts
$font-family-regular: VolvoNovum;
$font-family-broad: VolvoBradPro;
$font-family-broad_outlined: VolvoBradProOutline;

$font-large: 2rem;
$font-x-large: 3.2rem;
$font-regular: 1.4rem;

// Borders
$border-radius: .4rem;